$nav:(
    color-hover-n: #2897e7,
    trasform-n: scale(1.2),
    width-n: 100px 100px,
    bg-color-n: #2f59a7

);
$header:(
    padd-h: 30px,
    fontsz-h:100px,
    width-h: 220px,
    height-h: 220px,
);
$section:(
    bg-color-s: #2f59a7,
    font-s: 32px,
    margin-s: 30px 40px,
    trasform-s: scale(1.1),
);