.btnmod2{
    color: #fff;
    background-color: #0360b1;
    border-color: #0870cc;
}
.btnmod1{
    color: #fff;
    background-color: #b60202;
    border-color: #660303;
}
.sas-section{
    overflow: hidden;
}