
/*header */ 
.sas-header {
   grid-area: header;
   text-align: center;

   h1 {
       padding-top: map-get($header , padd-h );
       font-size: map-get($header , fontsz-h);
   }

   img {
       width: map-get($header , width-h );
       height: map-get($header , height-h );
   }
}